<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <style>
        section {
            float: left;
            margin: 0 0%;
            width: 14%;
        }
        div.fixed {
            position: fixed;
            bottom: 0;
            left: 5px;
            width: 200px;
        }

        ul { 
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
    </style>


    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <h2>Aiheet</h2>



        <ul>
            <li th:each="aihe: ${aihelista}">
                <a th:href="@{~/aihe/{id}(id=${aihe.id})}"><span th:text="${aihe.nimi}">aiheen nimi</span></a>
            </li>
        </ul>

        <div class="fixed">

            <h3>Lisaa aihe</h3>

            <form method="POST" th:action="@{~/alue/}">
                <input type="text" name="name"/>
                <input type="submit" value="Lisaa!"/>
            </form>
        </div>
    </body>
</html>