<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title th:text="${raakaaine.nimi}">Raaka-aine</title>
        <style>
            h1 {
                font-family: Arial, sans-serif;
            }
            ul {
                font-family: Arial, sans-serif;
            }
        </style>
    </head>
    <body>

        <h1 th:text="${raakaaine.nimi}">Resepti 1</h1>

        <p>
            Raaka-ainetta
            <span th:text="${raakaaine.nimi}">raaka-aine</span>
            sisältävien annosten lukumäärä on
            <span th:text="${annoslkm}">0</span>
        </p>

        <div th:if="${annoslkm} &gt; 0">
            <h2>Annokset</h2>
            <ul>
                <li th:each="annos: ${annokset}">
                    <a th:href="@{'../reseptit/' + ${annos.id}}">
                        <span th:text="${annos.nimi}">hernekeitto</span>
                    </a>
                </li>
            </ul>
        </div>

        <ul>
            <li>
                <a href="/ainekset">Raaka-ainelistaan</a>
            </li>
        </ul>
    </body>
</html>