<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>Raaka-aineet</title>
        <style>
            h1 {
                font-family: Arial, sans-serif;
            }
            h4 {
                font-family: Arial, sans-serif;
            }
            ul {
                font-family: Arial, sans-serif;
            }
        </style>
    </head>
    <body>

        <h1>Raaka-aineet</h1>

        <ul>
            <li th:each="raakaaine: ${raakaaineet}">
                <span th:text="${raakaaine.nimi}">kurkuma</span>
                <a th:href="@{'ainekset/' + ${raakaaine.id} + '/poista'}">(poista)</a>
            </li>
        </ul>

        <h4>Lisää uusi raaka-aine</h4>

        <form method="POST" action="">
            Raaka-aineen nimi:<br/>
            <input type="text" name="aine" placeholder="Aine"/><br/>
            <input type="submit" value="Lisää"/>
        </form>

        <ul>
            <li>
                <a href="../../">Reseptilistaan</a>
            </li>
        </ul>
    </body>
</html>