<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Raaka-aineet</title>
		<style>
			h1 {
				font-family: Arial, sans-serif;
			}
			h4 {
				font-family: Arial, sans-serif;
			}
			ul {
				font-family: Arial, sans-serif;
			}
		</style>
	</head>
	<body>
		
		<h1>Raaka-aineet</h1>
		
		<ul>
			<li>Omena <a href="1/poista">(poista)</a></li>
			<li>Sitruuna <a href="2/poista">(poista)</a></li>
			<li>Lime <a href="3/poista">(poista)</a></li>
			<li>Appelsiini <a href="4/poista">(poista)</a></li>
		</ul>

		<h4>Lisää uusi raaka-aine</h4>
		
		<form method="POST" action="">
			Raaka-aineen nimi:<br/>
			<input type="text" name="aine" placeholder="Aine"/><br/>
			<input type="submit" value="Lisää"/>
		</form>
		
		<ul>
			<li>
				<a href="../../">Reseptilistaan</a>
			</li>
		</ul>
	</body>
</html>