<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="${alue.aihealue}">Alueen nimi</title>
        <meta charset="utf-8" />
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>

    <body class="container">
        <table class="table" STYLE="margin-top: 30px">
            <tr>
                <th>Alue: <span th:text="${alue.aihealue}">Alueen nimi</span></th>
                <th>Viestejä</th>
                <th>Viimeisin viesti</th>
            </tr>

            <tr th:each="avaus : ${avaukset}">
                <td><a th:href="@{~/{id}/{idd}(id=${alue.id},idd=${avaus.id})}" th:text="${avaus.aihealue}">avaus</a></td>
                <td th:text="${avaus.viestejaYhteensa}">viestejä</td>
                <td th:text="${avaus.viimeisinViesti}">yhteensä</td>
            </tr>
        </table>

        <h3>Lisää avaus</h3>

        <form method="POST" th:action="@{~/{id}(id=${alue.id})}">
            <p>Otsikko: <input type="text" name="otsikko"/></p>
            <p>Teksti: <textarea name="avaus"/></p>
            <p>Käyttäjänimi: <input type="text" name="aloittaja"/></p>
            <p><input type="submit" value="Lisää!"/></p>
        </form>

        <p><a href="/">Takaisin keskustelualueisiin</a></p>
    </body>
</html>