<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Keskustelu</title>
        <!--        <meta charset="UTF-8"></meta>-->
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="/styles.css"/>
    </head>

    <body>
        <nav><a href="/">Etusivu</a> > <span th:text="${alue.nimi}">Alueen nimi</span><br/></nav>

        <h2>Alueen <span th:text="${alue.nimi}">Alueen nimi</span> keskustelut</h2>

        <ul>

            <!-- TIETOKANNASTA DATAA
                       
            -->           
            <li th:each="keskustelu: ${keskustelut}">

                <a th:href="${'/keskustelu/' + keskustelu.id}">
                    <span th:text="${keskustelu.otsikko} + '  --  '">Helsinki on paras</span>
                    <span th:text="'Viestej&auml;: ' + ${keskustelu.viestienLkm} + ' - '">Viestien lukumäärä</span>
                    <span th:text="'Viimeisin viesti l&auml;hetetty: ' + ${keskustelu.viimeisinAika}">Viimeisimmän viestin aika</span> 
                </a>
                
            </li>
            
        </ul>
        <p th:if="${kaikki} != 1">N&auml;ytet&auml;&auml;n korkeintaan kymmenen tuoreinta keskustelua. <a th:href="${'/alue/' + alue.id} + '?kaikki=1'">N&auml;yt&auml; kaikki</a></p>

        <hr/>
        <h4>Luo uusi keskustelunavaus</h4>
        <form method="post">
            <b>Nimimerkki</b>
            <input type="text" name="nimi"/>
            <b>Otsikko</b>
            <input type="text" name="otsikko" size="40"/>
            <b>Viesti</b>
            <textarea rows="5" cols="50" name="sisalto"></textarea>
            <input type="submit" value="L&auml;het&auml;"/>
        </form>       

    </body>
</html>
