<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <!--Tänne pitäisi ehkä saada alueen nimi?-->
        <title>Yksisarvisten keskustelufoorumi - Alue</title>
        <meta charset="utf-8" />

        <style>
            table, tr, th, td {border: 1px solid black; border-collapse: collapse}
        </style>
    </head>

    <body>

        <h1>Yksisarvisten keskustelufoorumi</h1>
        <h2><a th:href="@{~/}">Koti</a> -> <span th:text="${alue.nimi}">Alue</span></h2>
        <table>
            <tr>
                <th>Aihe</th>
                <th>Viestejä</th>
                <th>Viimeisin viesti</th>
            </tr>

            <tr th:each="aihe : ${aiheet}">

                <td>
                   <a th:href="@{~/{aid}/{id}(aid=${alue.tunnus}, id=${aihe.tunnus})}">
                        <span th:text="${aihe.otsikko}"> </span>
                    </a>
                </td>
                
                
                <td>
                    <span th:text="${aihe.viestimaara}"></span>
                </td>
                
                <td>
                    <span th:text="${aihe.viimeisinViesti}"></span>
                </td>
            </tr>
        </table>

        <h3>Lisää uusi aihe:</h3>
        
        <form method="POST" th:action="@{~/{alueTunnus}/addAihe(alueTunnus=${alue.tunnus})}">
            Nimesi: <br/>
            <input type="text" name="aiheAloittaja"/> <br/>
            
            Aihen otsikko: <br/>
            <input type="text" name="aiheOtsikko"/> <br/>

            Aihen sisältö: <br/>
            <input type="text" name="aiheSisalto"/> <br/>
            
            Viesti: <br/>
            <input type="text" name="viesti"/><br/>
            
            <input type="submit" value="Lisää!"/>
        </form>
        
        <br/>
        
        <a href="/">Paluu</a>
    </body>
</html>
