<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Foorumi</title>
        <meta charset="iso-8859-1" />
    </head>

    <body>
        <h1>Aihealueet</h1>


        <table style="width:50%">
            <tr>
                <td>Alue</td>
                <td>Viestien määrä</td>
                <td>Viimeisin viesti</td>
            </tr>
            <tr th:each="Aihealue : ${aihealueet}">
                <td><a th:href="${'/' + Aihealue.aihe}" th:text="${Aihealue.aihe}">palsta</a></td>
                <td><span th:text="${Aihealue.koko}">viestien lkm</span></td>
                <td><span th:text="${Aihealue.viimeisin}">viimeisin viesti</span></td>
            </tr>
        </table>


        <form method="POST">
            <textarea name="aihe" placeholder="Lisää aihe"></textarea>
            <button type="submit">Lisää</button>
        </form>

    </body>
</html>

