<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
        <title>Keskustelualue</title>
        <!--<meta http-equiv="content-type" content="text/html; charset=UTF-8"></meta>-->
        <meta charset="utf-8" th:charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" href="/styles.css" />
    </head>

    <body>

        <div id="container">
            <h2>Keskustelualueet</h2>

            <div class="alueboksi" th:each="alue : ${alueet}">
                <p th:each="alue : ${alueet}">
                    <a th:href="${'/alue/' + alue.id}">
                        <span class="alueotsikko" th:text="${alue.nimi} + '  --  '">Alueen nimi</span>
                        <span>Viestejä: 
                            <span class="viestilukumaara" th:text="'Viestej&auml;: ' + ${alue.viestienLkm} + ' - '">
                                15
                            </span>
                        </span>

                        <span class="viimeisin_viesti">Viimeisin viesti:  
                            <span class="timestamp" th:text="'Viimeisin viesti l&auml;hetetty: ' + ${alue.viimeisinAika}">
                                23.10.2016 14.45
                            </span>
                        </span>

                    </a>
                </p>
            </div>

            <a id="uusialue" href="/uusialue">Lis&auml;&auml; uusi alue</a><br/>
            <p class="Copyright"> TeamTableTurners ver. 2.0 </p>

        </div>

    </body>
</html>
