<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Keskustelufoorumi</title>
        <meta charset="utf-8" />
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>

    <body class="container">
        <table class="table" STYLE="margin-top: 30px">
            <tr>
                <th>Alue</th>
                <th>Perustaja</th>
                <th>Perustettu</th>
            </tr>

            <th:block th:each="alue : ${alueet}">
                <tr>
                    <td><a th:href="@{~/{id}(id=${alue.id})}" th:text="${alue.aihealue}">alue</a></td>
                    <td th:text="${alue.perustaja}">perustaja</td>
                    <td th:text="${alue.perustettu}">perustettu</td>
                </tr>
            </th:block>
        </table>

        <h3>Lisää alue</h3>

        <form method="POST" th:action="@{~/}">
            <p>Otsikko: <input type="text" name="aihealue"/></p>
            <p>Lyhyt kuvaus: <textarea name="kuvaus"/></p>
            <p>Käyttäjänimi: <input type="text" name="perustaja"/></p>
            <p><input type="submit" value="Lisää!"/></p>
        </form>
    </body>
</html>