<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Viesti</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="/styles.css"/>
    </head>

    <body>

        <nav><a href="/">Etusivu</a> > <a th:href="${'/alue/' + alue.id}"><span th:text="${alue.nimi} + ' > '"></span></a><span th:text="${keskustelu.otsikko}">Keskustelun otsikko</span></nav>

        <h2><span th:text="${keskustelu.otsikko}">Helsinki on paras!</span></h2>

        <div class="viesti" th:each="viesti, iterStat : ${viestit}">

            <b>#<span th:text="${iterStat.count} + ${sivunviestit}">1</span>           </b>

            <p th:text="${viesti.sisalto}">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc cursus lacinia ipsum, ac posuere nunc efficitur non. Donec imperdiet diam id vulputate venenatis. Vivamus mattis sit amet ligula cursus tempor. Ut id quam est. Ut sit amet egestas mauris. Curabitur lorem quam, tincidunt ac porttitor in, consequat ac felis. Donec tortor sem, imperdiet a gravida in, maximus non sapien.
            </p>

            <div class="name" th:text="${viesti.kayttaja}">
                Kenneth
            </div>

            <div>Julkaistu: 
                <span class="lastmsg" th:text="${viesti.aika}">8.10.2016</span>
            </div>

            <hr/>


        </div>
        <p>
            <a th:if="${previouspage} != null" th:href="${'/keskustelu/' + keskustelu.id} + '?page=' + ${previouspage}"> Edellinen sivu</a>
            <a th:if="${nextpage} != null" th:href="${'/keskustelu/' + keskustelu.id} + '?page=' + ${nextpage}">Seuraava sivu</a>
        </p>


        <h4>Vastaa viestiin</h4>
        <form method="post">
            <b>Nimimerkki</b>
            <input type="text" name="nimi"/>
            <b>Viesti</b>
            <textarea rows="5" cols="50" name="sisalto"></textarea>
            <input type="hidden" name="nykyinen_sivu" th:value="${page}"/>
            <input type="submit" value="Vastaa"/>
        </form>    <!--


        -->    </body>
</html>