<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Keskustelu</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="styles.css">
    </head>

    <body>
        <h2>Alueen keskustelut</h2>

        <ul>

<!-- TIETOKANNASTA DATAA
           
           <li th:each="keskustelu.otsikko: ${keskustelu.otsikko}">
            
                <a th:href="${'/keskustelu.otsikko/' + keskustelu.id}">
                    <span th:text="${otsikko.nimi}"></span>
                </a>

                <div class="name" th:each="viesti.kayttaja : ${viesti.kayttaja}"></div>
                <div>Viimeinen julkaisu: 
                    <span class="lastmsg" th:each="viesti.aika  : ${.viesti.aika }"></span><span>&nbsp;|&nbsp;</span>
                </div>

            </li>

-->

<!-- ESIMERKKI (KOLME KESKUSTELUA) -->

           <li th:each="keskustelu.otsikko: ${keskustelu.otsikko}">
            
                <a th:href="${'/keskustelu.otsikko/' + keskustelu.id}">
                    <span th:text="${otsikko.nimi}">Helsinki on paras!</span>
                </a>

                <div class="name" th:each="viesti.kayttaja : ${viesti.kayttaja}">Kenneth</div>
                <div>Viimeinen julkaisu: 
                    <span class="lastmsg" th:each="viesti.aika  : ${.viesti.aika }">8.10.2016</span><span>&nbsp;|&nbsp;</span>
                </div>

            </li>

            <li th:each="keskustelu.otsikko: ${keskustelu.otsikko}">
            
                <a th:href="${'/keskustelu.otsikko/' + keskustelu.id}">
                    <span th:text="${otsikko.nimi}">Helsinki on paras!</span>
                </a>

                <div class="name" th:each="viesti.kayttaja : ${viesti.kayttaja}">Kenneth</div>
                <div>Viimeinen julkaisu: 
                    <span class="lastmsg" th:each="viesti.aika  : ${.viesti.aika }">8.10.2016</span><span>&nbsp;|&nbsp;</span>
                </div>

            </li>

            <li th:each="keskustelu.otsikko: ${keskustelu.otsikko}">
            
                <a th:href="${'/keskustelu.otsikko/' + keskustelu.id}">
                    <span th:text="${otsikko.nimi}">Helsinki on paras!</span>
                </a>

                <div class="name" th:each="viesti.kayttaja : ${viesti.kayttaja}">Kenneth</div>
                <div>Viimeinen julkaisu: 
                    <span class="lastmsg" th:each="viesti.aika  : ${.viesti.aika }">8.10.2016</span><span>&nbsp;|&nbsp;</span>
                </div>

            </li>

<!-- ESIMERKIN LOPPU -->
           
        </ul>

        <hr/><br/>
        <h4>Lisää uusi keskustelu</h4>
        <form>
            <b>Nimimerkki</b>
            <input type="text" name="nimi">
            <b>Otsikko</b>
            <input type="text" name="otsikko" size="40">
            <b>Viesti</b>
            <textarea rows="5" cols="50" name="sisalto"></textarea><br/>
            <input method="post" action="Database.java" type="submit" name="lähetä" value="Lähetä">
        </form>       

    </body>
</html>