<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Ketjut</title>
        <meta charset="iso-8859-1" />
    </head>

    <body>
        <h1><span th:text="${aihe}"></span></h1>

        <table style="width:50%">
            <tr>
                <td>Ketju</td>
                <td>Viestien määrä</td>
                <td>Viimeisin viesti</td>
            </tr>
            <tr th:each="Ketju : ${ketjut}">
                <td><a th:href="${'/' + Ketju.aihe + '/' + Ketju.ketju + '/1'}" th:text="${Ketju.otsikko}">otsikko</a></td>
                <td><span th:text="${Ketju.koko}">viestien lkm</span></td>
                <td><span th:text="${Ketju.viimeisin}">viimeisin viesti</span></td>
            </tr>
        </table>

        <form method="POST">
            <input name="Otsikko" placeholder="Ketjun otsikko"></input><br/>
            <textarea name="Sisalto" placeholder="Ketjun keskustelunavaus"></textarea><br/>
            <input name="Kayttajanimi" placeholder="Haluamasi käyttäjänimi"></input><br/>
            <button type="submit">Lisää</button>
        </form>

    </body>
</html>

