<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Smoothiearkisto</title>
        <meta charset="utf-8" />

        <link rel="stylesheet" type="text/css" href="css/styles.css" />

    </head>

    <body>

    <section class="main">
    	<h1>Smoothiearkisto</h1>

    	<h2>Raaka-aineet</h2>

    	<ol>
            <li th:each="raakaaine : ${raakaaineet}">
                <span th:text="${raakaaine}">Raaka-aineen nimi</span>  (<a th:href="${'/raakaaineet/' + raakaaine.id + '/poista'}" th:text="poista">poista</a>)
            </li>
        </ol>

        <h2>Lisää raaka-aine</h2>

        <form method="POST" action="/raakaaineet">
            <label for="raakaaine">Raaka-aine: </label>
            <input type="text" name="raakaaine"/> 
            <input type="submit" value="Lisää"/>
        </form>

        <p><a href="/" class="block">&lt;&lt;</a></p>

    </section>
    </body>
</html>