<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Rekisteröidy</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css"/>
    </head>

    <body>
        <div class="container">
            <h2>Rekisteröidy</h2>
            <form action="/register" method="POST">
                <div class="form-group">
                    <label for="username">Käyttäjätunnus</label>
                    <input type="text" name="username" id="username" placeholder="Käyttäjätunnus"/><br/>
                    <label for="passwd">Salasana</label>
                    <input type="password" name="password" id="password" placeholder="Salasana"/>
                </div>
                <button type="submit" class="btn btn-primary" name="register">Rekisteröidy</button>
            </form>
        </div>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>