<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>Reseptit</title>
        <style>
            h1 {
                font-family: Arial, sans-serif;
            }
            h4 {
                font-family: Arial, sans-serif;
            }
            ul {
                font-family: Arial, sans-serif;
            }
        </style>
    </head>
    <body>

        <h2>Reseptit</h2>

        <ul>
            <li th:each="annos: ${annokset}">
                <a th:href="@{'reseptit/' + ${annos.id}}">
                    <span th:text="${annos.nimi}">hernekeitto</span>
                </a>
                <a th:href="@{'reseptit/' + ${annos.id} + '/poista'}">(poista)</a>
            </li>
        </ul>

        <h4>Lisää uusi</h4>

        <form method="POST" action="">
            Reseptin nimi:<br/>
            <input type="text" name="nimi"/><br/>
            <input type="submit" value="Lisää"/>
        </form>

        <h4>Lisää raaka-aineita</h4>

        <form method="POST" action="/reseptit/lisaa">
            Reseptin nimi:<br/>
            <select name="annos_id">
                <option th:each="annos: ${annokset}"
                        th:value="${annos.id}"
                        th:text="${annos.nimi}">resepti 1
                </option>
            </select>
            <br/>
            Lisättävä raaka-aine<br/>
            <select name="raakaaine_id">
                <option th:each="raakaaine: ${raakaaineet}"
                        th:value="${raakaaine.id}"
                        th:text="${raakaaine.nimi}">omena
                </option>
            </select>
            <br/>
            Järjestys<br/>
            <input type="text" name="jarjestys"/><br/>
            Määrä<br/>
            <input type="text" name="maara"/><br/>
            Ohje<br/>
            <input type="text" name="ohje"/><br/>
            <input type="submit" value="Lisää"/>
        </form>

        <ul>
            <li>
                <a href="../../">Reseptilistaan</a>
            </li>
        </ul>
    </body>
</html>