<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Reseptit</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Reseptit</h1>

        <ul>
            <li th:each="annos: ${annokset}">
                    <p th:text="${annos.nimi}">1</p>
                    <p>Raaka-aineet: </p>
                    <p>Ohje: </p>
            </li>
        </ul>
        
        <p><a href="/etusivu">Linkki etusivulle?</a></p>
    </body>
</html>
