<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title th:text="${annos.nimi}">Resepti 1</title>
        <style>
            h1 {
                font-family: Arial, sans-serif;
            }
            ul {
                font-family: Arial, sans-serif;
            }
        </style>
    </head>
    <body>

        <h1 th:text="${annos.nimi}">Resepti 1</h1>

        <ul>
            <li th:each="annosraakaaine: ${#lists.sort(annosraakaaineet)}">
                <span th:text="${annosraakaaine.jarjestys} + '.'">1.</span>
                <span th:text="${annosraakaaine.raakaaine.nimi} + ','">kurkuma</span>
                <span th:text="${annosraakaaine.maara} + '.'">5 kpl</span>
                <span th:text="${annosraakaaine.ohje}">pilko palasiksi ja sekoita</span>
            </li>
        </ul>

        <ul>
            <li>
                <a href="../../">Reseptilistaan</a>
            </li>
        </ul>
    </body>
</html>