/* STYLES CSS FILE */

body {
	width: 768px;
	margin: 2.5% auto;
	border: 1px solid #999;
	padding: 2.5% 5% 2.5% 5%;
	font-family: sans-serif;
}

body p a {
	padding: 2%;
	border: 1px solid #c0c0c0;
	margin: .5% 0;	
	display: inline-block;
}

ul li {
	padding: 2%;
	list-style: none;
	border: 1px solid #c0c0c0;
	margin: .5% 0;
	display: block;
}

ul {
	position: relative;
    left: -40px;
    width: 100%
}

ul div {
	float: right;
	font-size: .9em;
	font-style: italic;
}

form {
	font-size: .9em;
}

h4 {
	margin: 2% 0 4% 0;
	display: block;
}

form b ,form input, form textarea {
	display: block;
}

form b {
	margin: 5px 0;
}
p.Copyright {
	font-size: .8em;
	float: right;
}
