<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>STJTS-Foorumi</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>STJTS Foorumin testisivu</h1>
          
        <button onclick="location.href='/'" type="button"> pääsivulle </button>
        <span th:if="${edellinen != null}"> <button th:onclick="${edellinen}" type="button"> Edellinen sivu </button> </span>
        <span th:if="${seuraava != null}"> <button th:onclick="${seuraava}" type="button"> Seuraava sivu </button>  </span>      
        
    </body>
</html>